@import '../../app.component.css';
#logo {
  width: 40px;

}
.oval-inactive{
  background-color: white;
  color: #EE6E73;
  width: 40px;
  height: 25px;
  border-radius: 41px;
  font-size: smaller;
}
.oval-active{
  background-color: #EE6E73;
  color: white;
  width: 40px;
  height: 25px;
  border-radius: 41px;
  font-size: smaller;
}
.pointer{
  cursor: pointer;
}
#nav{
 background-color: #EE6E73;
}
.active{
  background-color: white;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.text-black{
  color:black !important;
}
.nav-tabs .nav-link:hover {
  border-color: rgba(red, green, blue, 255) !important; /* #EE6E73 #EE6E73 #EE6E73 !important; /*#e9ecef #e9ecef #dee2e6;*/
}
.second-nav{
  background-color: #f0bb2d;
  margin-top: -1px;
}
.mb-less{
  margin-bottom: -8px !important;
}
.small-text{
  font-size: small;
  color:gray;
  font-weight: bold;
}
