<ul ngbNav #nav="ngbNav" [(activeId)]="active" id="nav" class="nav-tabs justify-content-center">

    <!--LOGO-->
    <li ngbNavItem class="mr-auto ml-5" >
      <div class="flex-row center-vertically justify-content-center h-100 ml-1 pointer" (click)="clickLogo(); dd.value = ''">
        <img src="../../../assets/images/tlacubazar.png" alt="logo" id="logo">
      </div>
    </li>

    <!--Shopping cart-->
    <li [ngbNavItem]="1" class="flex-row center-vertically h-100">
      <a ngbNavLink class="flex-row center-vertically h-100" (click)="goCart(); dd.value = ''" >
        <div>
          <i class="material-icons text-black">shopping_cart</i>
        </div>
        <div class=" flex-row center-vertically justify-content-center"  [ngClass]="{'oval-inactive': active !== 1, 'oval-active': active ===1}">
          <b>{{cartProducts}}</b>
        </div>
      </a>
    </li>

    <!--catalogue-->
    <li ngbDropdown [ngbNavItem]="2" class="h-100" [ngClass]="{'active': active === 2}">
      <a href #dd (click)="false" class="text-black nav-link h-100" [ngClass]="{'active': active === 2}" ngbDropdownToggle>
        Catálogo {{dd.value}}
      </a>
      <div ngbDropdownMenu>
        <button (click)="goService(); dd.value = 'Servicios'" ngbDropdownItem>Servicios</button>
        <button (click)="goProduct(); dd.value = 'Productos'" ngbDropdownItem>Productos</button>
      </div>
    </li>

    <!--My account-->
    <li ngbDropdown [ngbNavItem]="3" class="h-100 mr-5"  [ngClass]="{'active': active === 3}" *ngIf="user != null" >
      <a href (click)="false" class="nav-link text-black" ngbDropdownToggle>Mi cuenta</a>
      <div ngbDropdownMenu>
        <button (click)="myProfile(); dd.value = ''" ngbDropdownItem>Mi Perfil</button>
        <button (click)="logout(); dd.value = ''" ngbDropdownItem>Cerrar sesión</button>
      </div>
    </li>
    <!--login-->
    <li ngbNavItem [ngbNavItem]="4" (click)="login(); dd.value = ''" *ngIf="user == null" class="h-100 mr-5">
      <a class=" text-black" ngbNavLink>Iniciar sesión</a>
    </li>


</ul>

<div [ngbNavOutlet]="nav" class=" pl-4 pr-4"></div>
<div class="second-nav flex-row pl-5 pr-5">
  <div class="flex-row mr-auto cursor-hand">
    <div class="flex-row center-vertically justify-content-center">
      <i class="material-icons text-black">location_on</i>
    </div>
    <!--if there is no user logged in-->
    <div class="flex-col" *ngIf="user == null">
        <div class="mb-less small-text" (click)="login()">
          Hola
        </div>
        <div class="" (click)="login()">
          Elige tu dirección
        </div>
    </div>

    <!--if there is user logged im-->
    <li ngbDropdown *ngIf="user != null" style="list-style-type: none;" class="ml-less">
      <a href (click)="false" class="text-black nav-link h-100" ngbDropdownToggle [ngClass]="{'dropdown-toggle': false }">
        <!--address set-->
        <div class="flex-col" *ngIf="user.fkAddress == null">
          <div class="mb-less small-text">
            Hola
          </div>
          <div class="">
            Elige tu dirección
          </div>
        </div>
        <!--no address set-->
        <div class="flex-col" *ngIf="user.fkAddress != null">
          <div class="mb-less small-text">
            Estás aqui
          </div>
          <div class="">
            {{user.address.addressEnum.address}}, {{user.address.suburbEnum.suburb}}.
            {{user.address.cityEnum.city}}, {{user.address.stateEnum.state}} {{user.address.suburbEnum.postalCode}}.
          </div>
        </div>
      </a>
      <div ngbDropdownMenu>
        <div ngbDropdownItem class="col" *ngFor="let uAddress of userAddresses">
          <h6 class="card-subtitle mb-2 text-muted" (click) ="setCurentUserAddress(uAddress.address)">
            {{uAddress.address.addressEnum.address}}, {{uAddress.address.suburbEnum.suburb}}
            {{uAddress.address.cityEnum.city}}, {{uAddress.address.stateEnum.state}} {{uAddress.address.suburbEnum.postalCode}}.
          </h6>
        </div>
      </div>
    </li>
  </div>
</div>
