

  <div class="row justify-content-md-center">
    <div class="col-12">
      <div class="row"><!--ROW INICIAL DESCRIPCION PEQUEÑA-->
        <div class="col-6">
          <h2>
          Los negocios de Morelos, al alcance de tu casa.
        </h2>
        <img src="../../../assets/images/city-view.jpg">
        <h5>
          Conoce los negocios morelenses que se ubican convenientemente cerca de ti.
        </h5>
      </div>
      <div class="col-6 mt-4">
        <!--Como nos protegemos-->
        <div class="card text-center bg-light text-dark mb-4">
          <div class="card-header">
            <h4 class="card-title text-center">¿Qué es?</h4>
          </div>
          <div class="card-body">
            TlacuBazar conecta a
            negocios y clientes a través de una
            plataforma web que busca reactivar la
            economía de zonas vulnerables por el
            COVID-19 mediante la
            comercialización de productos y
            servicios online y una moneda virtual, <img style="width:15px" src="../../../assets/images/vegetariano.png" alt="cacao img" class="inline-block ml-2"> nuestro cacao
          </div>
        </div>
        <!--Sintomas para sospechar que alguien ha adquirido el nuevo coronavirus-->
        <div class="card text-center bg-light text-dark mb-4">
          <div class="card-header">
            <h4 class="card-title text-center">Cacao  </h4>
          </div>
          <div class="card-body">
            Genera cacao al realizar compras y evaluaciones de los productos o servicios que consumes.
            El cacao te da descuentos en tus siguientes compras.
          </div>
        </div>
      </div>
      </div>

      <br><br><br>
      <div class="row"><!--ROW INICIAL DESCRIPCION PEQUEÑA-->
        <div class="col-6">
          <!--Como nos protegemos-->
          <div class="card text-center bg-light text-dark mb-4">
            <div class="card-header">
              <h4 class="card-title text-center">Nosotros verificamos por ti</h4>
            </div>
            <div class="card-body">
              El catálogo de TlacuBazar incluye negocios responsables ante la situacion de COVID-19.
              Quienes estan informados acerca de medidas de higiene al momento de entregar tu pedido.
              Consumamos local apoyando negocios cercanos a nosotros.
            </div>
          </div>
          <!--Sintomas para sospechar que alguien ha adquirido el nuevo coronavirus-->
          <div class="card text-center bg-light text-dark mb-4">
            <div class="card-header">
              <h4 class="card-title text-center">Detengamos la propagación</h4>
            </div>
            <div class="card-body">
              Asi como cuidamos de ti, tu tambien tamién puedes ayudar a hacer el proceso
              más seguro. <b routerLink="/course" class="cursor-hand">Conculta esta información</b>
              antes de realizar tus pedidos.
            </div>
          </div>
        </div>
        <div class="col-6">
          <h2>
          Negocios responsables con entrega a domicilio.
        </h2>
        <img src="../../../assets/images/fruits.jpeg">
        </div>
      </div>

      <br><br><br>
      <div class="row"><!--SEGUNDO ROW 3 DESCRIPCIONES-->
        <div class="col m-4">
          <div class="row">
            <div class="card">
              <div class="card-image">
                <img src="https://images.pexels.com/photos/4031818/pexels-photo-4031818.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <h4>Sin salir de casa</h4>
          </div>
          <div class="row">
            <p>Accede a los servicios de más de 50 negocios alrededor de Morelos.</p>
          </div>
        </div>
        <div class="col m-4">
          <div class="row">
            <div class="card">
              <div class="card-image">
                <img src="https://images.pexels.com/photos/4068322/pexels-photo-4068322.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <h4>Seguridad</h4>
          </div>
          <div class="row">
            <p>Utilizamos encriptacion para mayor seguridad en tus datos personales y de tu negocio.</p>
          </div>
        </div>
        <div class="col m-4">
          <div class="row">
            <div class="card">
              <div class="card-image">
                <img src="../../../assets/images/buiseness-cloths.jpg">
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <h4>¿Eres vendedor?</h4>
          </div>
          <div class="row">
            <p>¡Inicia sesión en tu cuenta de TlacuBazar, registra tu
              negocio y empieza a vender ahora mismo!</p>
          </div>
        </div>
      </div>

      <br><br><br>
      <div class="row"><!--TERCER ROW UNETE A TLACUBAZAR-->
        <div class="col s6-m6 center">
          <div class="card">
            <div class="card-image">
              <img src="https://www.imer.mx/tropicalisima/wp-content/uploads/sites/19/TlacuacheMexicano.jpg">
            </div>
          </div>
        </div>
        <div class="col flex-column center-vertically justify-content-center">
          <div>
            <h4>
              ¿Aún no eres usuario TlacuBazar, qué esperas?
            </h4>
          </div>
          <div class="mb-3">
            <h4>
              ¡Únete ya!
            </h4>
          </div>
          <div>
            <button (click)="logout()" class="btn waves-effect waves-light white black-text">Registrarse</button>
          </div>
        </div>
      </div>
  </div>
</div>

