@import '../../app.component.css';
.w-80{
  width: 80%;
}
.text-blue{
  color: #0000EE;
}
.small{
  font-size: x-small;
}
#filtros{
  background-color: ghostwhite;
}
.list{
  overflow-y: scroll;
  height: 80vh;
}
#catalogo{
  height: 80vh;
}
#category-bottons{
  margin-bottom: -13px;
}
.y-scroll{
  overflow-y: scroll;
}
#categories-box{
  height: 65%;
}
.m-neg{
  margin-bottom: -13px;
}

*{
  list-style: none
}
.review-box{
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;


}
.btn{
  background-color: #EE6E73;
  color: black;
}
.filled.coloring {
  color: #f0bb2d;
}
#reviews{
  max-height: 200px;
}
.hide-scroll {
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.hide-scroll {
    -ms-overflow-style: none;
}
.icon-red{
  color: darkred;
}
