@import '../../app.component.css';
.w-80{
  width: 80%;
}
.text-blue{
  color: #0000EE;
}
.small{
  font-size: x-small;
}
#filtros{
  background-color: ghostwhite;
}
.list{
  overflow-y: scroll;
  height: 80vh;
}
#catalogo{
  height: 80vh;
}
#category-bottons{
  margin-bottom: -13px;
}
.y-scroll{
  overflow-y: scroll;
}
#categories-box{
  height: 65%;
}
.m-neg{
  margin-bottom: -13px;
}

*{
  list-style: none
}
