
<div class="flex-row " id="catalogo">
  <!--filtros-->
  <div class="col-md-4 flex-col justify-content-left m-2" id="filtros">
    <h3 class="mt-2">Filtra tu busqueda</h3>
    <!--cacao filter-->
    <h5>Cacao</h5>
    <div class="ml-4">
      <input class="form-check-input" type="checkbox"  [attr.checked]="onlyCacaoStores ? 'checked' : null" id="defaultCheck1" (click)="onlyCacaoStores = !onlyCacaoStores; applyFiler()">
      <label class="form-check-label" (click)="onlyCacaoStores = !onlyCacaoStores; applyFiler()">
        Acepta cacao
      </label>
    </div>
    <!--category filter-->
    <h5>Categorías</h5>
    <!--category buttons-->
    <div class="flex-row" id="category-bottons">
      <p  class="card-link text-blue cursor-hand" (click)="setAllCategories(true); applyFiler();" >Todas</p>
      <p  class="card-link text-blue cursor-hand" (click)="setAllCategories(false);  applyFiler();" >Ninguna</p>
    </div>
    <!--categories-->
    <div class="y-scroll" id="categories-box">
      <div *ngFor="let cat of categories">
        <div class="">
          <input  type="checkbox" [attr.checked]="cat.selected ? 'checked' : null" (click)="cat.selected = !cat.selected; applyFiler()">
          <label  (click)="cat.selected = !cat.selected; applyFiler()" class="ml-1">
            {{cat.category}}
          </label>
        </div>
      </div>
    </div>
    <div>

    </div>
  </div>

  <!--productos-->
  <div class="row flex-row justify-content-center list w-100 " *ngIf="!isServiceStore">
    <p class="text-muted m-neg cursor-arrow">{{stores.length}} resultados encontrados. </p>
    <div *ngFor="let store of stores" class="w-100">
        <div class="card m-3 ml-4">
          <div class="card-body">
            <!--Boton para ver detalles-->
            <div class="cursor-hand details" (click)="seeStoreDetails(store);">
              <h5 class="card-title cursor-hand">{{store.name}}</h5>
              <!--Servicio y cacao icon-->
              <div *ngIf="store.acceptsCacao" class="cursor-hand">
                <h6 class="card-subtitle mb-2 text-muted inline-block cursor-hand">Ofrece productos en {{store.categoryEnum.category}}</h6>
                <img src="../../../assets/images/vegetariano.png" alt="cacao img" class="inline-block ml-2">
              </div >
              <div class="cursor-hand" *ngIf="store.acceptsCacao == 0">
                <h6 class="card-subtitle mb-2 text-muted cursor-hand">Ofrece productos en {{store.categoryEnum.category}}</h6>
              </div>
              <!--description-->
              <p class="card-text">{{store.description}}</p>
            </div>

            <!--stars-->
            <li ngbDropdown  class="h-100" >
              <p ngbDropdownToggle class="cursor-arrow"><i class="material-icons cursor-arrow">star</i> <b>{{store.score}} de 5</b> ({{store.scoreLenght}} calificaciones)</p>
              <div ngbDropdownMenu *ngIf="idUser != null">
                <div  ngbDropdownItem>
                  <ngb-rating [(rate)]="store.currentRate"  [max]="5">
                    <ng-template let-fill="fill" let-index="index">
                      <span class="star" [class.filled]="fill === 100"(click)="createReviewScore(store, index+1)" [class.coloring]="index < 5">&#9733;</span>
                    </ng-template>
                  </ngb-rating>
                </div>
              </div>
            </li>

            <!--reseñas boton-->
            <p  (click)="store.isCollapsed = !store.isCollapsed" [attr.aria-expanded]="!store.isCollapsed"
                aria-controls="collapseExample"  class="small text-blue cursor-hand">
                Ver/Ocultar todas las reseñas ({{store.storeReviews.length}})
            </p>
            <div *ngIf="idUser != null" class="flex-column mr-2" cols="50" rows="1">
              <div>
                <textarea #textArea class="mr-2" cols="50" rows="1" placeholder="Querémos escucharte"></textarea>
              </div>
              <div class="mr-2" cols="50" rows="1">
                <button  type="button" class="btn mb-3" (click)="createReviewText(store, textArea.value); textArea.value = ''">
                  Compartir mi opinión
                </button>
              </div>
            </div>

            <!--reseñas-->
            <div id="collapseExample" [ngbCollapse]="store.isCollapsed">
              <div class="card pt-3 hide-scroll" id="reviews">
                <div class="card-body review-box mb-2" *ngIf="store.storeReviews.length == 0">
                  Se el primero en compartir tu opinión.
                </div>
                <div class="flex-row ml-2" *ngFor="let review of store.storeReviews">
                  <i *ngIf="idUser != null && idUser === review.fkUser" class="material-icons icon-red cursor-hand" (click)="deleteReview(store, review.idStoreReview)" >delete</i><p class="cursor-arrow"><b>{{review.user.firstName}}: </b> {{review.review}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <!--Servicios-->
  <div class="row flex-row justify-content-center list w-100 " *ngIf="isServiceStore">
    <p class="text-muted m-neg cursor-arrow">{{stores.length}} resultados encontrados. </p>
    <div *ngFor="let store of stores" class="w-100">
        <div class="card m-3 ml-4">
          <div class="card-body">
            <!--Boton para ver detalles-->
            <div class="cursor-hand details" (click)="setSelectedStore(store); open(content)">
              <h5 class="card-title cursor-hand">{{store.name}}</h5>
              <!--Servicio y cacao icon-->
              <div *ngIf="store.acceptsCacao" class="cursor-hand">
                <h6 class="card-subtitle mb-2 text-muted inline-block cursor-hand">Ofrece servicios en {{store.categoryEnum.category}}</h6>
                <img src="../../../assets/images/vegetariano.png" alt="cacao img" class="inline-block ml-2">
              </div >
              <div class="cursor-hand" *ngIf="store.acceptsCacao == 0">
                <h6 class="card-subtitle mb-2 text-muted cursor-hand">Ofrece servicios en {{store.categoryEnum.category}}</h6>
              </div>
              <!--description-->
              <p class="card-text">{{store.description}}</p>
            </div>

            <!--stars-->
            <li ngbDropdown  class="h-100" >
              <p ngbDropdownToggle class="cursor-arrow"><i class="material-icons cursor-arrow">star</i> <b>{{store.score}} de 5</b> ({{store.scoreLenght}} calificaciones)</p>
              <div ngbDropdownMenu *ngIf="idUser != null">
                <div  ngbDropdownItem>
                  <ngb-rating [(rate)]="store.currentRate"  [max]="5">
                    <ng-template let-fill="fill" let-index="index">
                      <span class="star" [class.filled]="fill === 100"(click)="createReviewScore(store, index+1)" [class.coloring]="index < 5">&#9733;</span>
                    </ng-template>
                  </ngb-rating>
                </div>
              </div>
            </li>

            <!--reseñas boton-->
            <p  (click)="store.isCollapsed = !store.isCollapsed" [attr.aria-expanded]="!store.isCollapsed"
                aria-controls="collapseExample"  class="small text-blue cursor-hand">
                Ver/Ocultar todas las reseñas ({{store.storeReviews.length}})
            </p>
            <div *ngIf="idUser != null" class="flex-column mr-2" cols="50" rows="1">
              <div>
                <textarea #textArea class="mr-2" cols="50" rows="1" placeholder="Querémos escucharte"></textarea>
              </div>
              <div class="mr-2" cols="50" rows="1">
                <button  type="button" class="btn mb-3" (click)="createReviewText(store, textArea.value); textArea.value = ''">
                  Compartir mi opinión
                </button>
              </div>
            </div>

            <!--reseñas-->
            <div id="collapseExample" [ngbCollapse]="store.isCollapsed">
              <div class="card pt-3 hide-scroll" id="reviews">
                <div class="card-body review-box mb-2" *ngIf="store.storeReviews.length == 0">
                  Se el primero en compartir tu opinión.
                </div>
                <div class="flex-row ml-2" *ngFor="let review of store.storeReviews">
                  <i *ngIf="idUser != null && idUser === review.fkUser" class="material-icons icon-red cursor-hand" (click)="deleteReview(store, review.idStoreReview)" >delete</i><p class="cursor-arrow"><b>{{review.user.firstName}}: </b> {{review.review}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!--MODAL-->
<ng-template #content let-c="close" let-d="dismiss">
  <!--HEADER-->
  <div class="modal-header">
    <div class="flex-column">
      <!--titulo-->
      <h4 class="modal-title cursor-arrow" id="modal-basic-title">{{selectedStore.name}}</h4>
      <!--Servicio y cacao icon-->
      <div *ngIf="selectedStore.acceptsCacao" class="mt-2 m-neg">
        <h6 class="card-subtitle mb-2 text-muted inline-block cursor-arrow">Ofrece servicios en {{selectedStore.categoryEnum.category}}</h6>
        <img src="../../../assets/images/vegetariano.png" alt="cacao img" class="inline-block ml-2">
      </div >
      <div *ngIf="selectedStore.acceptsCacao == 0" class="mt-2 m-neg">
        <h6 class="card-subtitle mb-2 text-muted cursor-arrow">Ofrece servicios en {{selectedStore.categoryEnum.category}}</h6>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--BODY-->
  <div class="modal-body">
    <div class="flex-row">
      <i class="material-icons text-black">location_on</i>
      <p class="inline-block">direccion</p>
      <i class="material-icons text-black ml-3">phone</i>
      <p class="inline-block">{{selectedStore.phone}}</p>
      <i class="material-icons text-black ml-3">person</i>
      <p class="inline-block">{{selectedStore.vendor.firstName}} {{selectedStore.vendor.lastName}}</p>
      <i class="material-icons text-black ml-3">insert_link</i>
      <p class="inline-block">{{selectedStore.link}}</p>
    </div>
    <p>{{selectedStore.description}}</p>
    <p>MAPA DE GOOGLE</p>
  </div>

</ng-template>
