<div class="row justify-content-md-center">
  <div class="col-4">
    <!--Profile pic and name-->
    <div class="card text-center bg-secondary text-dark mb-4">
      <div class="card-body ">
        <h5 class="card-subtitle mb-2 text-white">{{user.firstName}} {{user.lastName}}</h5>
        <img *ngIf="socialUser != null" [src]="socialUser.photoUrl" alt="" class="rounded-circle mb-3">
      </div>
    </div>
    <!--Basic info-->
    <div class="card text-center bg-light text-dark">
      <div class="card-header">
        <h4 class="card-title text-center cursor-arrow">Información básica <fa-icon (click)="editInfo()" class="cursor-hand" [icon]="faEdit"></fa-icon></h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">Teléfono:</h5>
        <h6 class="card-subtitle mb-2 text-muted" *ngIf="user.phone != null && user.phone != 'null'">{{user.phone}}</h6>
        <h6 class="card-subtitle mb-2 text-muted" *ngIf="user.phone == null || user.phone == 'null'">---</h6>
        <h5 class="card-title">Correo:</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
        <h5 class="card-title text-center">Balance de cacao</h5>
        <h6 class="card-subtitle mb-2 text-muted" *ngIf="user.cacaoBalance > 0">{{user.cacaoBalance | number}}</h6>
        <h6 class="card-subtitle mb-2 text-muted" *ngIf="user.cacaoBalance <= 0">0.00</h6>
        <h5 class="card-subtitle mb-2 text-muted" *ngIf="user.isVendor">Miembro vendedor</h5>
      </div>
    </div>
  </div>
  <p></p>
  <div class="col-6">

    <!--Registered address-->
    <div class="card text-center bg-light text-dark mb-4">
      <div class="card-header">
        <h4 class="card-title text-center">Direcciones registradas</h4>
      </div>
      <!--addresses list-->
      <div class="card-body">

        <!--address-->
        <div class="row" *ngFor="let uAddress of userAddresses">
          <div class="col-9 mb-3">
            <h6 class="card-subtitle mb-2 text-muted" >
              {{uAddress.address.addressEnum.address}}, {{uAddress.address.suburbEnum.suburb}}
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              {{uAddress.address.cityEnum.city}}, {{uAddress.address.stateEnum.state}} {{uAddress.address.suburbEnum.postalCode}}.
            </h6>
        <!--button-->
          </div>
          <div class="col-3">
            <a (click)="deleteUserAddress(uAddress)" class="btn btn-link"><fa-icon [icon]="faTrashAlt"></fa-icon></a>
          </div>
        </div>
        <div class="flex-row center-vertically justify-content-center" *ngIf="userAddresses.length <= 0">
          <h6>Aun no tiene direcciones en TlacuBazar.</h6>
        </div>
      </div>

      <div class="card-footer">
        <a (click)="open(content)" class="card-link cursor-hand text-blue">Añadir dirección</a>
      </div>
    </div>

    <!--Registered stores-->
    <div class="card text-center bg-light text-dark">
      <div class="card-header">
        <h4 class="text-center">Negocios registrados</h4>
      </div>
      <div class="card-body">
        <div class="flex-row center-vertically justify-content-center" >
          <h6 class="text-center"> Aun no tiene negocios en TlacuBazar</h6>
        </div>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link">Añadir negocio</a>
      </div>
    </div>
  </div>
</div>





<!--MODAL CREATE ADDRESS-->
<ng-template #content let-c="close" let-d="dismiss">
  <!--HEADER-->
  <div class="modal-header">
    <div class="flex-column">
      <!--titulo-->
      <h4 class="modal-title cursor-arrow" id="modal-basic-title">Agregar dirección</h4>

    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--BODY-->
  <div class="modal-body">
    <!--calle-->
    <div class="form-group col-md-16">
      <label for="inputState">Calle</label>
      <input #calle type="text" class="form-control" id="">
    </div>
    <!--estado y ciudad -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Estado</label>
        <select id="inputState" class="form-control" name="sel" (change)="selectedState = $event.target.value">
          <option *ngFor="let state of stateArray" [value]="state.idStateEnum"  >
            {{state.state}}
          </option>
        </select>      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Ciudad</label>
        <select id="inputState" class="form-control" (change)="selectedCity = $event.target.value; cp= null; getSuburbs(selectedCity)">
          <option *ngFor="let city of cityArray" [value]="city.idCityEnum"  >
            {{city.city}}
          </option>
        </select>
      </div>
    </div>
    <!--colonia y cp -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Colonia</label>
        <select id="inputState" class="form-control"  (change)="selectedSuburb = $event.target.value; getCp() ">
          <option *ngFor="let suburb of suburbArray" [value]="suburb.idSuburbEnum"  >
            {{suburb.suburb}}
          </option>
        </select>      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Código</label>
        <input type="text" class="form-control" value="{{cp}}" readonly>
      </div>
    </div>
    <button  type="button" class="btn btn-pink mb-3" (click)="createAddress(calle.value)">
      Registrar
    </button>
  </div>

</ng-template>
