@import '../../app.component.css';
.btnpink{
  background-color: #EE6E73;
  color: black;
}
h3{
  text-align: center;
}
#category-bottons{
  margin-bottom: -13px;
}
.text-blue{
  color: #0000EE;
}
.list{
  overflow-y: scroll;
  height: 60vh;
}
.font-small{
  font-size: small;
}
.btnAmount{
  border: 1px solid gainsboro;
}
.cant{
  margin-top: 5px;
}
.bg-blue{ background-color:  #34cdf7;}
.bg-purple{ background-color:  #5220b9;}
.bg-pink{ background-color: #b0478a;}
.bg-yellow{ background-color:  #f0bb2d;}
.no-bottom p{
  margin-bottom: 0;
}
