<div class="row justify-content-md-center">
  <div class="col-3">
    <!--Basic info-->
    <div class="card text-center bg-light text-dark">

      <div class="card-body">
        <h4 class="card-title text-center">Nombre del negocio</h4>
        <h5 class="card-title">Teléfono:</h5>
        <h6 class="card-subtitle mb-2 text-muted">7774968039</h6>
        <h5 class="card-title">Representante:</h5>
        <h6 class="card-subtitle mb-2 text-muted">Enrique Favila</h6>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="card text-center bg-light text-dark">

      <div class="card-body">
        <h4 class="card-title text-center">Lista de productos</h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Country</th>
            <th scope="col">Area</th>
            <th scope="col">Population</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
  </div>
</div>
