<div class="row justify-content-md-center">
  <div class="col-3">
    <!--Basic info-->
    <div class="card text-center bg-light text-dark">
      <div class="card-header">
        <h4 class="card-title text-center">{{store.name}}</h4>
        <h5 style="font-size: small;">Ofrece productos en {{store.categoryEnum.category}}</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Teléfono:</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{store.phone}}</h6>
        <h5 class="card-title">Sitio web:</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{store.link}}</h6>
        <h5 class="card-title">Representante:</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{store.vendor.firstName}} {{store.vendor.lastName}}</h6>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="card text-center bg-light text-dark">
      <div class="card-header">
        <h4 class="card-title text-center">Lista de productos</h4>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad disponible</th>
            <th scope="col">Precio</th>
            <th *ngIf="store.acceptsCacao" scope="col">Máximo descuento con cacao</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{product.name}}</td>
              <td>{{product.description}}</td>
              <td>{{product.quantityInStock}}</td>
              <td>${{product.buyPrice}}</td>
              <td *ngIf="store.acceptsCacao">${{product.maxCacaoBuyPrice}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
