<div class="row justify-content-md-center">
  <div class="col-12">
    <div class="card text-center bg-light text-dark mb-4">
      <div class="card-body">
        <h2>Bienvenido</h2>
        <h5>Esto es una orientación para ti.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card text-center bg-light text-dark mb-4">
          <div class="card-header">
            <h3 class="card-title text-center">Respecto al COVID-19, te mostraremos algunos datos a tomar en cuenta</h3>
          </div>
          <div class="card-body">
            <span>La COVID‑19 es la enfermedad infecciosa causada por el coronavirus que
              se ha descubierto más recientemente. Tanto este nuevo virus como la
              enfermedad que provoca eran desconocidos antes de que
              estallara el brote en Wuhan (China) en diciembre de 2019. Actualmente la
               COVID‑19 es una pandemia que afecta a muchos países de todo el mundo.</span>
          </div>
        </div>
      </div>
    </div>
    <!--3 secciones-->
    <div class="row">
      <div class="col-6">
        <!--Como nos protegemos-->
        <div class="card text-center bg-light text-dark mb-4">
          <div class="card-header">
            <h4 class="card-title text-center">¿Cómo se contagia?</h4>
          </div>
          <div class="card-body">
            La enfermedad se propaga principalmente de persona a persona a
            través de las gotículas que salen despedidas de la nariz o la boca
            de una persona infectada al toser, estornudar o hablar. Estas gotículas
            son relativamente pesadas, no llegan muy lejos y caen al suelo.
          </div>
        </div>
        <!--Sintomas para sospechar que alguien ha adquirido el nuevo coronavirus-->
        <div class="card text-center bg-light text-dark mb-4">
          <div class="card-header">
            <h4 class="card-title text-center">Sintomas</h4>
          </div>
          <div class="card-body">
            Los síntomas más habituales de la COVID-19 son la fiebre, la tos seca y el cansancio.
            Otros síntomas menos frecuentes que afectan a algunos pacientes son los dolores
            y molestias, la congestión nasal, el dolor de cabeza, la conjuntivitis, el dolor
            de garganta, la diarrea, la pérdida del gusto o el olfato y las erupciones cutáneas
            o cambios de color en los dedos de las manos o los pies. Estos síntomas suelen ser leves
            y comienzan gradualmente.
          </div>
        </div>
      </div>
      <div class="col-6">
        <!--Acciones para prevenir la infeccion-->
        <div class="card text-center bg-light text-dark mb-4">
          <div class="card-header">
            <h4 class="card-title text-center">¿Cómo nos protegemos?</h4>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">Lavarse las manos frecuentemente por más de 40 segundos</li>
              <li class="list-group-item">Evitar salir a las calles y estar en contacto de las personas</li>
              <li class="list-group-item">Si es necesario salir, evitar los grupos grandes de personas</li>
              <li class="list-group-item">Usar cubrebocas todo el tiempo que estemos en contacto con alguna persona y en el exterior</li>
              <li class="list-group-item">Desinfectar productos que provengan del exterior y a nosotros mismos al regresar a nuestras casas</li>
              <li class="list-group-item">Atender a los anuncios oficiales emitidos por el gobierno de tu entidad y el gobierno federal</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--Tlacubazar intro-->
    <div class="row">
      <div class="col-12">
        <div class="card text-center bg-light text-dark mb-4">
          <div class="card-header">
            <h3 class="card-title text-center">¿Qué es Tlacubazar?</h3>
          </div>
          <div class="card-body">
            <p>Tlacubazar es un sistema diseñado con el fin de ayudar prevenir el impacto económico que la pandemia ha generado en
              Morelos y al mismo tiempo disminuir el número de contagios del COVID-19.
            </p>
            <p>¿Cómo lo hace? Las necesidades de consumir y vender en los negocios persisten aunque estemos en medio de una pandemia,
              pero con este sistema podemos ayudar a evitar el contacto fisico entre las personas al satisfacer sus necesidades.
            </p>
            <p>
              Tlacubazar se encargará de ser el medio por el cual los negocios y los clientes puedan comprar y adquirir productos,
              ayudando a que la economía no se vea afectada de manera grave, además de que también reduce el tiempo en el que las
              personas se encuentran fuera de sus casas y disminuyendo así el numero de contagios.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
