<div id="bg" class="w-100 h-100"></div>

<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6 offset-sm-3 offset-md-3 offset-lg-3">
    <div class="text-center" id="login-box">
      <!--Logo-->
      <img routerLink="/" src="../../../assets/images/tlacubazar.png" id="logo" class="cursor-hand">

      <!--wecome message-->
      <div id="message">
        <h2 class="cursor-arrow">¡Bienvenido a TlacuBazar!</h2>

        <h5 class="text-black cursor-arrow">Puedes iniciar sesión con Facebook o Google:</h5>
      </div>


      <!--google login-->
      <div class="row">
        <div class="col p-1">
          <button
            (click)="signInWithGoogle()"
            class="btn btn-danger btn-block btn-google"
          >
            <fa-icon [icon]="faGoogle"></fa-icon>
            Iniciar con Google
          </button>
        </div>
      </div>

      <!--facebook login-->
      <div class="row">
        <div class="col p-1">
          <button
            (click)="signInWithFB()"
            class="btn btn-primary btn-block"
          >
            <fa-icon [icon]="faFacebook"></fa-icon>
            Iniciar con Facebook
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
